<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/partials_head') %> 
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <header>
        <%- include('../partials/partials_navbar') %> 
    </header>
    
    <main>
        <!-- SideNav -->
        <div class="row">
            <%- include('../partials/partials_sidebar') %> 
            <!-- End SideNav -->

            <!-- Field -->
            <div class="col-md-9">
                <div class="container-fluid profile-main">
                  <img src="images/pewdiepie.png" alt="" class="mx-auto d-block mb-1 profile_2">
                  <h4 class="text-center">Ujang</h4>
                </div>
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-6">
                      <a href="/profile" class="card card-main mb-4">
                        <div class="card-body">
                          <h4 class="card-title text-center pt-4"><b>Profil</b></h4>
                        </div>
                      </a>
                    </div>
                    <div class="col-md-6">
                      <div class="card card-main mb-4">
                        <div class="card-body">
                          <h4 class="card-title text-center pt-4"><b>Statistik</b></h4>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="card card-main mb-4">
                        <div class="card-body">
                          <h4 class="card-title text-center pt-4"><b>Data Pasien</b></h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card card-main mb-4">
                        <div class="card-body">
                          <h4 class="card-title text-center pt-4"><b>Data Obat</b></h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
          <!-- End Field -->
    </main>

    <!-- Footer -->
    <%- include('../partials/partials_footer')  %> 
    <!-- End Footer -->

    <%- include('../partials/partials_bootstrapFoot') %> 
</body>
</html>