<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/partials_head') %> 
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <header>
        <%- include('../partials/partials_navbar') %> 
    </header>
    
    <main>
        <!-- SideNav -->
        <div class="row">
            <%- include('../partials/partials_sidebar') %> 
            <!-- End SideNav -->

            <!-- Field -->
            <div class="col-md-9">
                <!-- tombol fitur-fitur (profil, data pasien, data obat, statistik) -->
                <div class="container">
                  <div class="profile-main">
                    <img src="images/pewdiepie.png" alt="" class="profile_2 mx-auto d-block">
                    <p class="text-center"><b>Yusuf Syamputra</b></p>
                  </div>

                  <div class="row mb-4">
                    <div class="col-md-3"></div>
                      <div class="col-md-3">
                          <a href="/profile">
                              <div class="card">
                                  <div class="card-body text-center">
                                    <i class="fa-solid fa-user"></i>
                                    <h5 class="card-title mt-2">Profil</h5>
                                  </div>
                              </div>
                          </a>
                      </div>
                      <div class="col-md-3">
                        <a href="/statistic">
                            <div class="card">
                                <div class="card-body text-center">
                                  <i class="fa-solid fa-chart-column"></i>
                                  <h5 class="card-title mt-2">Statistik</h5>
                                </div>
                            </div>
                        </a>
                      </div>
                      <div class="col-md-3"></div>
                    </div>
                  <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                      <a href="/patient">
                          <div class="card">
                              <div class="card-body text-center">
                                <i class="fa-solid fa-hospital-user"></i>
                                <h5 class="card-title mt-2">Data Pasien</h5>
                              </div>
                          </div>
                      </a>
                    </div>
                    <div class="col-md-3">
                      <a href="/medicine">
                          <div class="card">
                              <div class="card-body text-center">
                                <i class="fa-solid fa-tablets"></i>
                                <h5 class="card-title mt-2">Data Obat</h5>
                              </div>
                          </div>
                      </a>
                    </div>
                    <div class="col-md-3"></div>
                  </div>
                </div>
            </div>
        </div>
          <!-- End Field -->
    </main>

    <!-- Footer -->
    <%- include('../partials/partials_footer')  %> 
    <!-- End Footer -->

    <%- include('../partials/partials_bootstrapFoot') %> 
</body>
</html>