<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/partials_head') %> 
</head>
<body>
    <header>
        <%- include('../partials/partials_navbar') %> 
    </header>
    
    <main>
        <!-- SideNav -->
        <div class="row">
            <%- include('../partials/partials_sidebar') %> 
            <!-- End SideNav -->

            <!-- Field -->
            <div class="col-md-9 mb-3">
                <h3>Data Obat</h3>
                <br>
                <table class="table">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Nama Obat</th>
                            <th>Jumlah</th>
                            <th>Tahun Kadaluwarsa</th>
                            <th>Aksi</th>
                        </tr>   
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Paracetamol</td>
                            <td>100</td>
                            <td>2021</td>
                            <td>
                                <a href="/medicine/edit" class="btn btn-primary">Edit</a>
                                <a href="/medicine/delete" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
                
        </div>
          <!-- End Field -->
    </main>

    <!-- Footer -->
    <%- include('../partials/partials_footer')  %> 
    <!-- End Footer -->

    <%- include('../partials/partials_bootstrapFoot') %> 
</body>
</html>